".source.css":
  "getAttribute":
    "prefix": ";scb"
    "body": """
/* ==========================================================================
   ${1:Section Comment Block}
   ========================================================================== */
    ${2:attr}"""
