".source.css":
  "getAttribute":
    "prefix": ";sscb"
    "body": """
/* {1:Sub-section comment block}
   ========================================================================== */
    ${2:attr}"""
