# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle idiomatic-css-snippets'
      'command': 'idiomatic-css-snippets:toggle'
    }
  ]
"menu": [{
  "label": "Packages",
  "submenu": [
    {
      "label": "Idiomatic CSS",
      "submenu": [
        {
          "label": "Section Comment Block",
          "command": "idiomatic-css-snippets:section_comment_block"
        },
        {
          "label": "Sub Section Comment Block",
          "command": "idiomatic-css-snippets:sub_section_comment_block"
        },
        {
          "label": "Doxygen Comment",
          "command": "idiomatic-css-snippets:doxygen_comment"
        }
      ]
    }
  ]
}]
